.wrapper {
    text-align: center;  
  }
  
  .no-dope {
    fill: darkorange;
  }
  
  .dope {
    fill: steelblue;
  }
  
  #tooltip {
    position: absolute;
    display: none;
    opacity: .8;
    background: #fcba03;
    padding: 5px;
   
  }